


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loans</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>
<body class="bg-indigo-950  font-sans">


<!-- Responsive Navigation Bar -->
<nav class="bg-blue-950 text-white py-4 px-5">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <div class="flex items-center">
      <button id="menu-button" class="block lg:hidden px-2 text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
      <div class="hidden lg:flex space-x-4 md:ms-40 sm:ms-0" >
        <a href="#" class="block py-2 px-4 hover:text-gray-400">Evaluate</a>
        <a href="#" class="block py-2 px-4 hover:text-gray-400">Payment Fees</a>
        <a href="#" class="block py-2 px-4 hover:text-gray-400">FAQs</a>
        <a href="#" class="block py-2 px-4 hover:text-gray-400">Introduce</a>
        <a href="#" class="block py-2 px-4 hover:text-gray-400">Contact</a>
      </div>
    </div>
    <div class="hidden lg:flex space-x-4">
      <a href="#" class="">Registration</a>
      <a href="#" class="hover:text-gray-400">Log in</a>
    </div>
  </div>
  <div id="mobile-menu" class="hidden lg:hidden">
    <a href="#" class="block py-2 px-4 hover:text-gray-400">Evaluate</a>
    <a href="#" class="block py-2 px-4 hover:text-gray-400">Payment Fees</a>
    <a href="#" class="block py-2 px-4 hover:text-gray-400">FAQs</a>
    <a href="#" class="block py-2 px-4 hover:text-gray-400">Introduce</a>
    <a href="#" class="block py-2 px-4 hover:text-gray-400">Contact</a>
    <a href="#" class="block py-2 px-4 hover:text-gray-400 ">Registration</a>
    <a href="#" class="block py-2 px-4 hover:text-gray-400">Log in</a>
  </div>
</nav>


  <main class="container mx-auto px-8 py-4 grid gap-4 grid-cols-1 md:grid-cols-3 sm:grid-cols-2 ">
 <!-- Left Section -->
 <section class="p-3 rounded-lg bg-blue-950 ">

       
          <div class="text-center mt-10">
            <h3 class="text-xl font-medium  text-amber-500">SAVING ACCOUNT</h3>
            <span class=" bg-red-500 px-10 py-1 rounded-md text-sm inline-block my-2 text-white">Coming soon</span>
            </div>
            <div class="text-center text-white">
            <h1 class="text-2xl font-bold text-center my-3">Loans Backed By Crypto</h1>
            <p class="text-lg font-medium">Don't sell your crypto, borrow against it.</p>
          </div>
          <h2 class="text-xl font-medium mb-4 my-2 text-white">Choose the loan option that best fits your financial strategy.</h2>
          <p class="text-white text-center">The future crypto loan</p>
        
    
  </section>
      

    <!-- Right Section -->
    <section class=" col-span-2">


      <div class="bg-white p-1 rounded-lg shadow-md ">
    
      <h2 class="text-xl font-bold mb-4 text-center mt-1">Loan Options</h2>
      <div class="flex justify-center space-x-20 mb-4">
        <button class="bg-blue-950 text-lg text-amber-300 px-4 py-2 rounded-md">Business Loan</button>
        <button class="bg-blue-950 text-lg text-amber-300 px-4 py-2 rounded-md">Personal Loan</button>
      </div>

      <form class="space-y-4">

        <section class="grid grid-cols-1 md:grid-cols-3 gap-3 px-1 py-1">
          <div>
            <h1 class="text-red-500 mx-3 mb-2 text-md font-semibold">Save</h1>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Your Deposit</legend>
              <span>$1985</span>
            </fieldset>
          </div>
          <div>
            <h1 class="text-red-500 mx-3 mb-2 text-md font-semibold">Loan Crypto Collateral</h1>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Annual House Hold Income</legend>
              <span>$1985</span>
            </fieldset>
          </div>
          <div>
            <h1 class="text-red-500 mx-3 mb-2 text-md font-semibold">Loan Estimated range</h1>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Median Homwe Price in <span>CA</span></legend>
              <span>$509K</span>
            </fieldset>
          </div>
        </section>


        <section class="grid grid-cols-1 md:grid-cols-3 gap-3 px-1 ">

          <div class="col-span-3 text-center md:space-x-5 space-x-2 flex justify-center mx-2">
            <p class="text-xl px-2   font-medium text-gray-500 flex justify-center">LTV 
              <ion-icon name="help" class="mt-2 text-sm ms-1 font-bold border rounded-full"></ion-icon>
             </p>
            <p class="border text-xl font-medium px-2 py-1 rounded-md  text-gray-500">50%</p>
            <p class="border text-xl font-medium px-2 py-1 rounded-md  text-gray-500">65%</p>
            <p class="border text-xl font-medium px-2 py-1 rounded-md  text-gray-500">80%</p>
            <p class="border border-orange-500 px-2 py-1 rounded-md text-orange-500">90%</p>
          </div>

          <div>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Estimated Down Payment</legend>
             <span>$81,250</span>
            </fieldset>
          </div>

          <div>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Get fund</legend>
              <select class="border px-2 py-1 rounded w-full text-gray-400">
                <option class="">680-699</option>
                <option class="">699-580</option>
              </select>
            </fieldset>
          </div>

          <div>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Range </legend>
              <select class="border px-2 py-1 rounded w-full text-gray-400">
                <option class="">680-699</option>
                <option class="">699-580</option>
              </select>
            </fieldset>
          </div>
        </section>


      </div>

      
      <div class="bg-blue-600 my-3 px-5 py-2 rounded-lg text-center">
        <h1 class="text-3xl font-bold text-white"> <span class="text-amber-500">Earn</span> Daily Intreset On Your Stable coins</h1>
        <p class="text-white text-xl font-semibold">Grow your passive income without any risks</p>
        <p class="text-white text-xl font-semibold">Withdraw antime with all intreset gauned</p>
      </div>

      <!-- second division in right div -->

      <div class="bg-white p-4 rounded-lg shadow-md ">
        <h2 class="text-xl font-bold mb-4 text-center mb-3">Save Fait</h2>
        <section class="grid grid-cols-1 md:grid-cols-3 gap-3 px-4">
          <div>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Estimated Down Payment</legend>
             <span>$81,250</span>
            </fieldset>
          </div>

          <div>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Get fund</legend>
              <select class="border px-2 py-1 rounded w-full text-gray-400">
                <option class="">680-699</option>
                <option class="">699-580</option>
              </select>
            </fieldset>
          </div>

          <div>
            <fieldset class="border rounded-lg p-3 mt-2">
              <legend class="text-sm font-medium">Range </legend>
              <select class="border px-2 py-1 rounded w-full text-gray-400">
                <option class="">680-699</option>
                <option class="">699-580</option>
              </select>
            </fieldset>
          </div>
        </section>
        
        <div class="space-y-4 ">
          <div class="flex justify-between items-center my-3">
            <div>
              <img src="Images/mort.png" alt="">
            </div>
           
            
            <div class="text-center">
              <h1 class="font-bold">6.65%</h1>
              <p class="text-sm text-gray-400">Sept 22,2023</p>
            </div>
            <div class="text-center">
              <h1 class="font-bold">6.65%</h1>
              <p class="text-sm text-gray-400">Points : 1.896</p>
            </div>
            <div class="text-center">
              <h1 class="font-bold">6.65%</h1>
              <p class="text-sm text-gray-400">Fees : 5,924</p>
            </div>
            <div class="text-center">
             <button class="bg-blue-600 px-10 py-1 rounded-md text-white text-xl font-medium">Next</button>
            </div>
            
          </div>
  
          <div class="flex justify-start space-x-24 items-center">
            <div>
              <span class=" text-sm text-gray-800 font-medium">NMLS: #204155</span>
              <h1 class="font-bold">Loan Term</h1>
            </div>
            
            <p class="">Unlimited</p>
            </select>
          </div>
          <div class="flex justify-start space-x-10 items-center">
              <span class="font-bold">Monthly Intreset</span>
              <h1 class="border-2 px-2 rounded-md py-1 border-orange-500 text-orange-600 font-bold"> <del class="text-gray-400">16%</del> 13.8% APR</h1>
              <h1 class="font-bold text-gray-600"> 164.9 USDT</h1>
            </div>
        </div>
      </div>

    </section>
    </main>


    <!-- icons -->

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  

  <!-- JavaScript for toggling the mobile menu -->
  <script>
    document.getElementById('menu-button').onclick = function() {
      var menu = document.getElementById('mobile-menu');
      if (menu.classList.contains('hidden')) {
        menu.classList.remove('hidden');
      } else {
        menu.classList.add('hidden');
      }
    }
  </script>

</body>
</html>
